.btnDelete {
    margin-left: 10px;
    margin-bottom: 5px;

}

.btnDelete {
    padding-right: 50px;
    display: block;
    height: 30px;
    width: 40px;
    border-style: solid;
    border-width: 0px 0px 5px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial,
      sans-serif;
    font-weight: 600px;
    font-size: 10px;
    background-color: #19a7df;
    border-color: #0fc8f7;
    background-image: url(https://image.flaticon.com/icons/svg/1345/1345823.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
  }