.btn {
  display: block;
  margin-top: 15px;
}

.inputName,
.inputNumber {
  display: block;
  margin-bottom: 15px;
}

button {
    display: block;
    height: 30px;
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial,
      sans-serif;
    font-weight: 8000px;
    font-size: 14px;
    border-color: #0ebe0e;
    background-color: #1bb441;
  }
 

  

